<div id="front">
	<div class="box">
		<h3>
			<span>Aihealueet</span>
		</h3>

		<div ng-repeat="topic in topics">
			<a href="#/topics/{{topic.id}}">{{topic.name}} - {{topic.description}}</a>
		</div>
	</div>

	<div class="add-topic-dialog" ng-if="userLoggedIn">
		<form>
			<h2>Lisää oma aihealueesi</h2>
		  <div class="form-group">
		    <label>Nimi</label>
		    <input type="text" class="form-control" ng-model="newTopic.name">
		  </div>

		  <div class="form-group">
		    <label>Kuvaus</label>
		    <textarea class="form-control" ng-model="newTopic.description"></textarea>
		  </div>
		  <button class="btn btn-success" ng-click="addTopic(newTopic)">Lisää viesti</button>
			<!--<pre>{{newTopic | json}}</pre>-->
		</form>
	</div>

</div>
