<div class="message-listing" >
  <div class="page-header">
    <h1>{{topic.name}}</h1>
    <p>
      {{topic.description}}
    </p>
  </div>

<h2><ng-pluralize count="topic.Messages.length"
              when="{'0': 'Ei viestejä aihealueessa. Ole ensimmäinen ja lisää omasi!',
                     'one': 'Aihealueeseen kuuluu yksi viesti.',
                     'other': 'Aihealueeseen kuuluu kaksi viestiä.'}"
</ng-pluralize></h2><br />

  <ul class="media-list" ng-repeat="message in topic.Messages">
    <li class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <a href="#/messages/{{message.id}}">{{message.title}}</a>
        </h4>

        <p>
          {{message.content}}
        </p>

        <p class="text-muted">
          {{message.User.username}}, {{message.createdAt | date:'dd.MM.yyyy HH:mm'}}
        </p>
      </div>
    </li>
  </ul>
</div>

<div class="add-message-dialog" ng-if="userLoggedIn">
  <h2>Lisää oma viestisi</h2>

  <form>
    <div class="form-group">
      <label>Otsikko</label>
      <input type="text" class="form-control" ng-model="newMessage.title">
    </div>

    <div class="form-group">
      <label>Viesti</label>
      <textarea class="form-control" ng-model="newMessage.content"></textarea>
    </div>
    <button class="btn btn-success" ng-click="addMessage(newMessage)">Lisää viesti</button>
    <!--<pre>{{newMessage | json}}</pre>-->
  </form>
</div>
