<div class="page-header">
  <h1>{{message.title}}</h1>
</div>

<p>
  {{message.content}}
</p>

<div class="reply-section" ng-repeat="reply in message.Replies" ng-show="message.Replies.length != 0"> <!---->
  <h2>{{$index + 1}} vastaus</h2>

  <ul class="media-list">
    <li class="media">
      <div class="media-body">
        <h4 class="media-heading">{{reply.User.username}}</h4>

        <p>
          {{reply.content}}
        </p>

        <p class="text-muted">
          {{reply.createdAt | date:'dd.MM.yyyy HH:mm'}}
        </p>
      </div>
    </li>
  </ul>
</div>

<div ng-show="message.Replies.length == 0">
  <label>Langassa ei ole vastauksia. Lisää omasi!</label>
</div>

<div class="add-reply-dialog" ng-if="userLoggedIn">
  <form>
    <h2>Lisää oma vastauksesi</h2>
    <div class="form-group">
      <label>Vastaus</label>
      <textarea class="form-control" ng-model="newReply.content"></textarea>
    </div>
    <button class="btn btn-success" ng-click="addReply(newReply)">Lisää vastaus</button>
    <!--<pre>{{newReply | json}}</pre>-->
  </form>
</div>
