<div class="page-header">
  <h1>Kirjaudu sisään</h1>
</div>

<form>
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input type="text" class="form-control" ng-model="user.username">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input type="password" class="form-control" ng-model="user.password">
  </div>

  <div class="form-group">
    <label ng-show="loginErrorMessage != ''">{{loginErrorMessage}}</label>
  </div>

  <button class="btn btn-primary" ng-click="logIn(user)">Kirjaudu sisään</button>
</form>
