<div class="page-header">
  <h1>Rekisteröidy</h1>
</div>

<form>
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input type="text" class="form-control" ng-model="newUser.username">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input type="password" class="form-control"
    ng-model="newUser.password" required ng-minlength="4">
  </div>

  <div class="form-group">
    <label>Salasana uudelleen</label>
    <input type="password" class="form-control"
    ng-model="passwordConfirm" required ng-minlength="4">
  </div>

  <div class="form-group">
    <label ng-show="registerErrorMessage != ''">{{registerErrorMessage}}</label>
  </div>

  <button class="btn btn-success"
  ng-disabled="
  newUser.password != passwordConfirm
  || newUser.password == null
  || newUser.password.length == 0"
  ng-click="register(newUser)">Rekisteröidy</button>

</form>
